
{% set img_path = child.header.content.img|first.name %}

<article class="{{ tile_class}}">
    <span class="image">
        <img src="{{ url(child.url ~'/' ~  img_path) }}" alt=""/>
    </span>
    <a href="{{ child.url }}">
        <h2>Magna</h2>
        <div class="content">
            <p>{{ child.title }}</p>
        </div>
    </a>
</article>


